{% extends "index.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USER LOGIN</title>
</head>
<body>
      {% block content4 %}
      {% endblock content4 %}

{% block content1 %}
    <h1 style="color: chartreuse;text-align: center;">HOME PAGE</h1>
{% endblock content1 %}
   
{% block content2 %}
<a href="logins" style="display: inline-block; margin-right: 20px;">login</a>
<a href="studentregister" style="display: inline-block;">register</a>

{% endblock content2 %}
</body>
</html>